.choice-box .context-menu { -fx-background-color: #404245; }

.choice-box .menu-item:focused { -fx-background-color: #000; }

.choice-box .menu-item > .label {
    -fx-text-fill: #fff;
    -fx-font-size: 20;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #fff;
    -fx-font-size: 20;
}

.choice-box {
  -fx-background-color: #404245;
  -fx-mark-color: #000;
}

.choice-box > .label {
    -fx-text-fill: #fff;
    -fx-font-size: 20;
}

.check-box .box {
-fx-background-color: #404245;
-fx-border-color: #404245;
-fx-border-radius: 3px;

}

.check-box:selected .mark {
-fx-background-color: #fff;
}

.check-box:selected .box {
-fx-background-color: #303134;
}